.header {
    background-color:#020203;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    position: relative;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.header-nav li {
    margin-left: 200px;
}

.header-nav li:last-child {
    margin-right: 87px;
}

.header-nav li a {
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
}